<nav class="navbar navbar-light navbar-expand-md fixed-top justify-content-center nav-bar-colors">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto navigation-font">@ujorgeleite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link navigation-font" href="#">O Jorge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-font" href="#portfolio-site">O que falam sobre</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link  navigation-font" href="#">Skills</a>
            </li>-->
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="https://medium.com/@ujorgeleite" target="_blank">
                            <i class="fa fa-medium"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ujorgeleite/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ujorgeleite" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ujorgeleite" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>



        </ul>
    </div>
</nav>