<section class="portfolio-site" id="portfolio-site">
  <div class="container">
    <div class="row ">      
      <h1 class="col-md-12 text-center">O que falam sobre...</h1>
    </div>
    <div class="row">
      <div class="card col-md-5 cards-portfolio" *ngFor="let item of indications">
        <div class="card-body">
          <img src={{item.image}} class="rounded-circle" alt="...">
          <h5 class="card-title"><b>{{item.name}}</b></h5>
          <blockquote class="card-text">{{item.description}}</blockquote>
          <h6><b>{{item.office}}</b></h6>
          <p class="text-reference">{{item.reference}}</p>
        </div>
      </div>
    </div>
  </div>
</section>


