<section class="description-site">
    <div class="container">
        <div class="col-xs-12">
            <h1 class="text-right">{{name}}</h1>
            <p class="lead text-center">
                    {{minibio}}
            </p>
            <div class="social-icons">
                    <ul>
                        <li>
                            <a href="https://medium.com/@ujorgeleite" target="_blank">
                                <i class="fa fa-medium"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ujorgeleite/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/ujorgeleite" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ujorgeleite" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</section>
