<section class="description-site">
    <div class="container">
        <div class="col-xs-12">
            <h1 class="text-right">Jorge Leite</h1>
            <p class="lead text-center">
                    Desenvolvedor de software com mais de 5 anos de experiência com desenvolvimento de software, já atuei em empresas de todo o tipo de porte, da pequenas startup a grande corporação global. Atuo também com projetos freelancer, liderança de comunidade e coaching de carreira para quem está começando, procuro oferecer sempre um ponto além do código que possa agregar ao negócio do cliente.
            </p>
        </div>
    </div>
</section>
