/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root {
    --main-primary-color: #4D407E; 
    --main-secondary-color:#6BB12E;
}



/*Navigation*/

.navigation-font{
    color: white !important;
}


.navigation-font:hover{
    color: var(--main-secondary-color) !important;
}

.nav-bar-colors{
    background-color:var(--main-primary-color) !important;
    color:var(--main-secondary-color) !important;
}




.logoSize{
    height: 480px;
}


.social-icons ul{
    list-style:none;
    width:100%;
    text-align:center
}
.social-icons ul li{
    display:inline-block
}
.social-icons ul li a{
    display:block;
    padding:6px;
    font-size:30px;
    color: var(--main-secondary-color);
    
}




/*Navigation end*/

/*Content*/



.description-site{
    background-image: url(../src/assets/image/bg_1.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 300px;
    padding-bottom: 300px;    
    
}

.portfolio-site{
    padding-top: 70px;
    padding-bottom: 70px;
}

.cards-portfolio{
    width: 18rem;
    margin: 2rem;


}

/*Content end */

